* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-family: monospace;
    font-size: 10vmin;
}

section {
    border: 2px black solid;
    border-radius: 0.5vmin;
    font-size: 6vmin;
    margin: 2vmin;
    padding: 2vmin;
}

img {
    height: 20vmin;
    
}

section#word-container {
    color: pink;
    display: flex;
    /* flex-direction: ; */
}

section#keyboard-container {
    color: green;

    display: grid;
    grid-template-rows: repeat(3, 10vmin);
    grid-template-areas: 
        "row1"
        "row2"
        "row3";
}

#keyboard-row-1 {
    grid-area: row1;
    display: flex;
    justify-content: center;
}

#keyboard-row-2 {
    grid-area: row2;
    display: flex;
    justify-content: center;
}

#keyboard-row-3 {
    grid-area: row3;
    display: flex;
    justify-content: center;
}

.keyboard-letter {
    position: relative;
    border: 2px black solid;
    border-radius: 0.5vmin;
    margin: 0.5vmin;
    padding: auto;
    height: 8vmin;
    width: 8vmin;
    text-align: center;
    /* align-items: center; */
    /* justify-content: center; */
}

.correct {
    color: green;
    background-color: lightgreen;
}

.incorrect {
    color: red;
    background-color: lightcoral;
}

.keyboard-letter.unguessed:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: lightgrey;
}

button {
    text-transform: uppercase;
    background-color: yellow;
    border-radius: 0.5vmin;
    font-size: 4vmin;
    font-family: Georgia;
    margin: 5vmin;
}

button:hover {
    cursor: pointer;
    background-color: black;
    color: yellow;
    text-decoration: underline;
}